name: Python 3.7 Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.7' 
          pip-install: "."
      - name: Run unit tests
        run: |
          python -m pytest
      - name: Run mock example
        run: |
          python examples/mock_example.py

      - name: Mypy Type Check
        run: |
          python -m mypy --check-untyped-defs ./src/